#DAF-gc {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #113;
  text-align: center;
  white-space: nowrap;
}


/* START scrollbard style */

#DAF-gc::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#DAF-gc::-webkit-scrollbar-track {
  background: #336;
  border-radius: 10px;
}

#DAF-gc::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #88D;
}

#DAF-gc::-webkit-scrollbar-thumb:hover {
  background-color: #FF0;
}


/* END scrollbard style */

div.DAF-gc-player {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  cursor: pointer;
  overflow: hidden;
  font-size: 0%;
}

div.DAF-gc-counter {
  display: inline-block;
  background-color: #113;
  width: 40px;
  color: #88D;
  font-size: 22px;
  padding: 12px 3px 12px 3px;
  position: sticky;
  left: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  z-index: 999;
  line-height: 13px;
  border: 0px;
  overflow: hidden;
  cursor: default;
}

div.DAF-gc-counter div:nth-child(1) {
  text-align: right;
  padding-right: 22px;
}

div.DAF-gc-counter div:nth-child(2) {
  text-align: center;
}

div.DAF-gc-counter div:nth-child(3) {
  text-align: left;
  padding-left: 22px;
}

div.DAF-gc-level {
  position: relative;
  font-family: sans-serif;
  font-weight: bold;
  width: 24px;
  padding: 1px 0px 0px 1px;
  text-align: left;
  background-color: #258;
  color: #FFF;
  text-shadow: #000 2px 0px 2px, #000 0px 1px 1px, #000 -2px 0px 2px, #000 0px -1px 1px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

div.DAF-gc-name {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  background-color: #FFF;
  color: #000;
  text-overflow: clip;
  text-align: center;
  white-space: nowrap;
}

div.DAF-gc-simulated div.DAF-gc-name {
  background-color: #F00;
}


/* this is common for all sizes, for now */

div.DAF-gc-level {
  font-size: 10pt;
  height: 15px;
  margin-bottom: -17px;
}


/* small settings */

.DAF-gc-small img.DAF-gc-avatar,
.DAF-gc-small div.DAF-gc-name {
  width: 50px;
}

.DAF-gc-small img.DAF-gc-avatar {
  height: 50px;
}

.DAF-gc-small div.DAF-gc-name {
  font-size: 10pt;
  height: 19px;
}

div.DAF-gc-counter {
  height: 46px;
}


/* large settings */

.DAF-gc-large img.DAF-gc-avatar,
.DAF-gc-large div.DAF-gc-name {
  width: 64px;
}

.DAF-gc-large img.DAF-gc-avatar {
  height: 64px;
}

.DAF-gc-large div.DAF-gc-name {
  font-size: 12pt;
  height: 22px;
}

.DAF-gc-large div.DAF-gc-counter {
  height: 64px;
}


/* x-large settings */

.DAF-gc-xlarge img.DAF-gc-avatar,
.DAF-gc-xlarge div.DAF-gc-name {
  width: 80px;
}

.DAF-gc-xlarge img.DAF-gc-avatar {
  height: 80px;
}

.DAF-gc-xlarge div.DAF-gc-name {
  font-size: 12pt;
}


/* Scrollbars on top */

#DAF-gc.DAF-flipped,
#DAF-gc.DAF-flipped div.DAF-gc-player,
#DAF-gc.DAF-flipped div.DAF-gc-counter {
  transform: rotateX(180deg);
}